---
- name: Install nginx and firewalld
  package:
    name:
      - nginx
      - firewalld
    state: present

- name: Ensure firewalld is running
  service:
    name: firewalld
    state: started
    enabled: true

- name: Open HTTP service in firewall
  firewalld:
    service: http
    permanent: true
    state: enabled
    immediate: true

- name: Start and enable nginx
  service:
    name: nginx
    state: started
    enabled: true

- name: Deploy custom landing page
  template:
    src: index.html.j2
    dest: /usr/share/nginx/html/index.html
    owner: root
    group: root
    mode: '0644'
